{% extends 'parent.html' %}

{% block title %}

    <title>Child</title>

{% endblock %}

{% block body_block %}

<div class="card" style="width: 18rem;">
    <img src='https://source.unsplash.com/1600x600/?sun,water'  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    
  
<h1 class="btn btn-success">This is the content of Child html page</h1>
   
{% endblock %}